<%= form_tag({:controller=> "booking", :action=>"checkLoginStatus"},:method=>"get")do %>
<head>
  <%= stylesheet_link_tag 'search', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div class="container" >
	 <p><span style="color: white">Rooms List</span></p>
<table>
  <tr>
    <th>Room Id</th>
    <th>Room Price</th>
    <th >Room Type</th>
    <th >Number of Bedrooms</th>
  </tr>
   <% @searchRoomResult.each do |result| %>
    <tr>
      <td><a href><%= result.id %></td></a>
      <td><a href><%= result.room_price %></td></a>
      <td><a href><%= result.number_bedrooms %></td></a>
      <td><a href><%= result.room_type %></td></a>
      <td><input type="checkbox" name="rooms">  </td>
    </tr>
  <% end %>
</table>
<br>
  <%= submit_tag "Book Now", class: "btn btn-large btn-primary search-button" %>
 </div>
  <%= paginate @searchRoomResult %>
</body>
<% end %>