<%= form_tag({:controller=> "home", :action=>"userview"},:method=>"get")do %>
<head>
	<title></title>
	<%= stylesheet_link_tag    'home', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<section class="search-bar">
  <div class="container">
     <div class="search-bar-div">
       <ul>
      	<div>
      		<li class="search-label"> <%= label_tag :location %></li>
       		<li class="search-input"> <%= text_field_tag :location, params[:location] %></li>
    	</div>
      	<div>
      		<li class="search-label"> Check In</li>
      		<li class="search-input"><input type="date" name="Check_in date" placeholder="check in"></li>
  	  	</div>
  	 	<div>
  	  		<li class="search-label">Check Out</li>
    	  <li class="search-input"><input type="date" name="Check_out date" placeholder="check out"></li>
  		</div>
      		<li><%= submit_tag "search", class: "btn btn-large btn-primary search-button" %></li>
      </ul>
    </div>
  </div>
</section>
 <% end %>
