<%= form_tag({:controller=> "search", :action=>"searchHotelResult"},:method=>"get")do %>
<head>
	
	<%= stylesheet_link_tag    'home', media: 'all', 'data-turbolinks-track': 'reload' %>
  
</head>
<span  class="head">Online Hotel Booking</span>
<section1 class="search-bar">
  <div class="container">
     <div class="search-bar-div">
      <ul>
      	<div>
      		<li class="search-label"> <%= label_tag :"Search hotel"  %></li>
       		<li class="search-input"> <%= text_field_tag :location_or_hotelname, params[:location_or_hotelname], 
            :autocomplete => :off,placeholder: "Location or Hotel name",:required =>true,:pattern => '[a-zA-Z]+', maxlength: 20, minlength: 1%>
          
          </li>
    	</div>
      	<div>
     		
      		<li class="search-label"> Check In</li>
          <li class="search-input"> <%= date_field :checkinDate,nil,:value=>Date.today, :min => Date.today,:required=>true %></li>
    
        </div>
      <div>
          <li class="search-label">Check Out</li>
         <li class="search-input"> <%= date_field :checkoutDate, nil,:value=>Date.today,min: Date.today,:required=>true %></li>
  		</div>
      		<li><%= submit_tag "search", class: "btn btn-large btn-primary search-button" %></li>
      </ul>
    </div>
  </div>
</section1>
<section2>
  <div id="search_result"></div>
</section2>
<% end %>
