<%= search_form_for @search ,url: search_searchView_path do |f|%>
<section class="search-bar">
  <div class="container">
     <div class="search-bar-div">
       <ul>
      	<div>
      		<li class="search-label"> <%= f.label :name_cont,"Search hotel"  %></li>
       		<li class="search-input"> <%= f.text_field :name_cont,  onkeyup:'myFunction()', :autocomplete => :off,placeholder: "Location or Hotel name",:required =>true,:pattern => '[a-zA-Z]+', maxlength: 20, minlength: 3%>
           <!-- oninvalid: "setCustomValidity('Plz enter on Alphabets ')" -->
           <ul class="myUL">
             <li><a href="#">Adele</a></li>
             <li><a href="#">Agnes</a></li>

             <li><a href="#">Billy</a></li>
             <li><a href="#">Bob</a></li>

             <li><a href="#">Calvin</a></li>
             <li><a href="#">Christina</a></li>
             <li><a href="#">Cindy</a></li>
           </ul>
           
          </li>
    	</div>
      	<div>
     		
      		<li class="search-label">  <%= f.label :'Check In' %></li>
          <li class="search-input"> <%= date_field :check_in_date,nil, :min => Date.today,:required=>true %></li>
        <!--  <li class="search-input"><input type="date"  name="check_in_date" placeholder="check in"></li> -->
        </div>
      <div>
          <li class="search-label"><%= f.label :'Check Out' %></li>
         <li class="search-input"> <%= date_field :check_out_date, nil,min: Date.today,:required=>true %></li>
  		</div>
      		<li><%= submit_tag "search", class: "btn btn-large btn-primary search-button", :onclick =>" search_string_validate.stringValidate()-" %>Search</li>
      </ul>
    </div>
  </div>
</section>
<% end %>
