
<head>
  <%= stylesheet_link_tag    'booking', media: 'all', 'data-turbolinks-track': 'reload' %>
  
</head>
<body>
<%= form_tag({:controller=> "booking", :action=>"bookingSuccessMessage"},:method=>"get")do %>
 <div class="row">
        <div class="col s12 m6">
          <div class="card white">
            <div class="card-content">
              <span class="card-title">Booking Confirmation Details</span>
                              	
              	 <table>
                       <tr>
                        <th>Hotel Name</th>
                        <th>Location</th>
                        <th >Rating</th>    
                       </tr>
                      <tr>
                        <td><%=  @hotelsList.name %></td>
                        <td><%=  @hotelsList.location %></td>
                        <td><%=  @hotelsList.rating %></td>
                      </tr>
                </table>
                <hr>
              <table>
                    <tr>
                      <th>Room Id</th>
                      <th>Room Price</th>
                      <th >Number of Bedrooms</th>
                      <th >Room Type</th>
                      
                    </tr>
                     <% @roomsList.each do |result| %>
                      <tr>
                        <td><%= result.id %></td>
                        <td><%= result.room_price %></td>
                        <td><%= result.number_bedrooms %></td>
                        <td><%= result.room_type %></td>
                        </tr>
                     <%end%>
              </table>
              <hr>
               <p><span style="color: white">Booking Details</span></p>

              <table>
                      <tr>
                        <th>Checkin Date</th>
                        <th>Checkout Date</th>
                        <th>Booking Date</th>
                      
                      </tr>
                      <tr>
                      
                        <td><%= @newBooking.checkinDate %></td>
                        <td><%= @newBooking.checkoutDate %></td>
                        <td><%= @newBooking.bookingDate %></td>
                      </tr>
                   
              </table>

              <br>
                <%= submit_tag "Confirm Booking", class: "btn btn-large btn-primary search-button",data: { confirm: "Are you sure?" } %>

           </div>
            </div>
          </div>
        </div>
  <%end%>
</body>