<!DOCTYPE html>
<html>
  <head>
    <title>HotelBookingSystem</title>
    <%= csrf_meta_tags %>
    <!--Google icon-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!--google jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'search', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <!--nav bar-->
     <header>
      <nav>
    <div class="nav-wrapper" >
      <a href="#" class="brand-logo">Welcome</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        
        <% if member_signed_in? %>
          <li><a href="/home/search_index">Home</a></li>
          <li><a href="/booking/myBooking">My Booking</a></li>
          <li><a href="/members/edit">Edit profile</a></li>
          <li><%= link_to 'Sign_out',  destroy_member_session_path,:method => :delete %></li>
        <%else%>
          <li><a href="/home/search_index">Home</a></li>
          <li><a href="/members/sign_up">User registration</a></li>
           <li><a href="/members/sign_in">User Login</a></li>
         <li><%= link_to 'Admin Login',  new_admin_user_session_path %></li>
          <!-- <ul id="dropdown1" class="dropdown-content">
          <li><a href="/members/sign_in">User Login</a></li>
          <li><a href="/members/sign_in">Admin Login</a></li>
          </ul>
          <li><a class="dropdown-button" data-activates="dropdown1">Login<i class="material-icons right">arrow_drop_down</i></a></li> -->
        <% end %>
          
        </ul>
    </div>
  </nav>
</header>
     <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>

     <div class="row">
        <div class="col l4 m6 s12 offset-m3 offset-l4">
          <div class="card white">
            <div class="card-content">
                <%= yield %>
             </div>
           </div>
         </div>
      </div>
  </body>
</html>
